@import '../../variables.scss';

.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item{
        flex: 0 0 100%;
        margin-bottom: .7rem;
        display: flex;
    }

    &__item:before{
        content: '';
        flex: 0 0 4%;
        display: inline-block;
        height: 1rem;
        margin: .7rem .7rem 0 0;

        //older browsers
        background-image: url(/Icons/chevron-thin-right.svg);
        background-size: cover;

        //newer browsers - mask
        @supports(-webkit-mask-image:url()) or (mask-image:url()){
            background-color: $color-primary;
            -webkit-mask-image: url(/Icons/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(/Icons/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
        }
    }
}