.herramientas{
    display: flex;
    flex-wrap: wrap;
}

.herramienta{
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.06);
    flex: 0 0 35%;
    margin: 3rem auto;
    border-radius: 10px;

    &__body{padding:0 3rem 3rem 3rem;}

    &__head{
        height: 15rem;
        background-color: yellowgreen;
        padding: 0 !important;
        border-radius: 10px 10px 0 0;
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__nombre{

    }

    &__costo{

    }

    &__descripcion{

    }

    &__opiniones{
        &__pros{

        }

        &__contras{

        }
    }

}