.Body{
    width: 100%;
    margin-top: 4.5%;
    position: absolute;
    background-image: url(/Img/paisaje.gif);
    background-position: top;
    background-size: auto;
    color: white;
    text-align: center;
}

#LogoBody{
    margin-top: 3%;
}

#texta{
    font-size: 3em;
}

#textb{
    margin-top: 3%;
    font-size: 3em;

}
