.Body{
    width: 100%;
    top: 10rem;
    position: relative;
    background-image: url(/Img/paisaje.gif);
    background-position: top;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
}

#LogoBody{
    padding: 5% 0 2% 0;
}

#texta{
    padding: 2% 0;
    font-size: 4rem;
    font-weight: 600;
}

#textb{
    padding: 1% 0 2% 0;
    font-size: 3.5rem;
    font-weight: 600;
}

#textc{
    padding: 1% 0 5% 0;
    font-size: 2.5rem;
    font-weight: 400;
}
