@import "./../../variables.scss";

.Body{
    width: 100%;
    top: 8rem;
    position: relative;
    //background-image: url(/Img/paisaje8.gif);
    background-position: top;
    background-size:cover;
    color: black;
    text-align: center;
    height: 100%;
    //animation-name: backgroundimages;
    //animation-duration: 10s;
    //animation-iteration-count: infinite;

    @keyframes backgroundimages {
        25%{
            background-image: url(/Img/paisaje5.gif);
        }
        50%{
            background-image: url(/Img/paisaje6.gif);
        }
        75%{
            background-image: url(/Img/paisaje7.gif);
        }
        
    }
}

#LogoBody{
    padding: 5% 0 2% 0;
}

#LogoBody:hover{
    animation-name: logosize;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes logosize{
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.6);
      }
}

#texta{
    padding: 5% 0;
    font-size: 4rem;
    font-weight: 600;
    color:$color-tertiary-dark;
}

#textb{
    padding: 2% 0 4% 0;
    font-size: 3.5rem;
    font-weight: 600;
    animation-name: tools;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#textc{
    padding: 2% 0 5% 0;
    font-size: 2.5rem;
    font-weight: 400;
}


.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
    overflow: hidden;
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
