.Head{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 10rem;
    z-index: 100;
    color:white;
    top: 0rem;
    display: flex;
    align-items: center;
}

.Head > ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Head > ul > li{
    padding-left: 5%;
    font-size: medium;
}


.nav > li{
    display: inline-block;
}

.nav > li > a{
    display: block;
    padding: 15px;
}

#submenu{
    position: absolute;
    list-style: none;
}

#submenu li{
    display: none;
    padding: 5px;
}

.nav > li:hover #submenu > li{
    display: block;
}

#submenu > li:hover{
    color:red;
    transition: all .5s;
    
}




