@import '../../variables.scss';

.titulo{
    width: 100%;
    top: 10rem;
    position: absolute;
}

.carrera{

    background-color: #faf9f9;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

    &__container{
        display: flex;
        margin: 0 2.3rem;
    }

    &__header{
        background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
        margin: 0 2.3rem;
        position: relative;
        
        &-picture{
            background-size: cover;
            height: 23rem;
            background-blend-mode: screen;
        }
        
        &-title{
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: #fff;
            position: absolute;
            top: 12rem;
            right: 2rem;
            width: 25%;
            
            &--span{
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
            }
        }
    }

    &__content{
        background-color: yellowgreen;
        flex: 1;
    }
}