@import '../../variables.scss';

.titulo{
    width: 100%;
    top: 10rem;
    position: absolute;
}

.carrera{

    background-color: #faf9f9;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

    &__container{
        display: flex;
        margin: 0 2.3rem;
    }

    &__header{
        background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
        margin: 0 2.3rem;
        position: relative;
        border-bottom: solid;
        border-width: 5px;
        border-color: grey;
        
        &-picture{
            background-size: cover;
            height: 23rem;
            background-blend-mode: screen;
        }
        
        &-title{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: #fff;
            position: absolute;
            top: 10rem;
            right: 3rem;
            width: 30%;
            
            &--span{
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
            }
        }
    }

    &__content{
        background-color: #faf9f9;
        flex: 1;
    }
}