@import '../../variables.scss';

.footer{
    background-color: black;
    color: $color-white;
    bottom: 0;
    width: 100%;
    font-size: $default-font-size;
    text-align: center;
    padding: 1rem;
    
    .icon{
        color: white;
        padding: 0 1%;
    }
    &__name{
        margin-bottom: 10rem;
    }
}

.dev{
    display: inline-block;
    padding: 1% 2% 0 2%;
    width: 20%;

    &__name{
        padding: .5rem;
    }
}
