.footer{
    background-color: #304455;
    color: #FFF;
    position: absolute;
    bottom: 0;
    width: 94%;
    padding: 3%;
    font-size: 1.5rem;
    text-align: center;
    
    .icon{
        color: white;
        padding: 0 1%;
    }
    &__name{
        margin-bottom: 10rem;
    }
}

.dev{
    display: inline-block;
    padding: 1% 2% 0 2%;
    width: 20%;

    &__name{
        padding: .5rem;
    }
}
