@import '../../variables.scss';

.cursos{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.curso{
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.06);
    flex: 0 0 40%;
    margin: 3rem auto;
    border-radius: 10px;
    max-width: 40rem;

    &__body{
        padding:0 3rem 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    &__head{
        height: 20rem;
        padding: 0 !important;
        border-radius: 10px 10px 0 0;
        margin-bottom: 1.5rem;
        img{
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__detalles{
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        &-nombre{
            background-color: $color-primary-dark;
            padding: 0 1.5rem;
            border-radius: 100px;
            text-transform: capitalize;
            color: #fff;
            margin-right: 1rem;
            box-shadow: 0 1rem 1.5rem rgba(0,0,0,.06);
        }
    
        &-costo{
            color: $color-gray-dark-2;
            font-size: 1.4rem;
        }
    
    }

    &__descripcion{
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #f4f2f2;
    }

    &__opiniones{
        display: flex;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #f4f2f2;

        &-title{
            text-transform: uppercase;
            color: $color-primary-dark;
            margin-bottom: 1rem;
        }

        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__container-pros{
            flex: 0 0 50%;
        }

        &__pros{
            padding-right: .75rem;
            border-right: 1px solid #f4f2f2;
        }

        &__contras{
            padding-left: .8rem;
        }

    }

}